
<div>
    <br />
    <h4 class="pad-t">My Facilities</h4>
    <div id="topFacs" class="list-group">
        
    </div>
    <br />

    <div id="mobSwitch"></div>
    <h4 class="pad-t">Need Help?</h4>
    <div class="list-group">
        <a href="https://dpr.gov.ng/index/wp-content/uploads/2013/10/FILLING-STATION-GUIDELINES.pdf" target="_blank" class="list-group-item">
            Guide Line
        </a>
        <a href="/FAQ" class="list-group-item">FAQs</a>
        <a href="#" class="list-group-item">Video Guide</a>
        <a href="#" class="list-group-item">Live Chat</a>
    </div>
</div>