@model IdentitySample.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">Forgot Password</h2>
        <div class="righty">
            @*<ul>
                    <li><a href="/">Home</a></li>
                    <li>Verify Permit</li>
                </ul>*@
        </div>
        <div class="clear"></div>
    </div>
</div>


<div class="col-md-8 col-md-offset-2">
    <div class="well">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @*@Html.AntiForgeryToken()*@
            <h4>Enter your email</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Reset Password" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
