@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">Forgot Password Confirmation</h2>
        <div class="righty">
            @*<ul>
                    <li><a href="/">Home</a></li>
                    <li>Verify Permit</li>
                </ul>*@
        </div>
        <div class="clear"></div>
    </div>
</div>

<div>
    @if (ViewBag.report!=null)
    {
        <div class="alert alert-warning">
            <p>@ViewBag.report</p>
        </div>
    }
    else { 
    <p>
        Please check your email for instructions on how to reset your password.
    </p>
    }
</div>

