@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">Reset Password Confirmation</h2>
        <div class="righty">
            @*<ul>
                    <li><a href="/">Home</a></li>
                    <li>Verify Permit</li>
                </ul>*@
        </div>
        <div class="clear"></div>
    </div>
</div>

<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
