@model IEnumerable<NewDepot.Models.ZonalOfficeState>

@{
    ViewBag.Title = "States in Zone";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="content">
    <h2 class="lefty">States in @ViewBag.StateName</h2>

    <p class="righty">
        @*<a href="#" data-url="/ZoneMapping/AddZone" class="btn btn-primary addZ" data-target="#modalPopup" data-toggle="modal"
            data-uid="1">Add New Zone</a>*@
    </p>
    <hr class="clear" />

    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StateName)
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StateName)
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#lnk-Zone > a").addClass("selected").find(".act").addClass("selected");
            $(".sidebar > ul > li > ul li a[href^='/ZoneMapping/ZoneStates']").addClass("selected");

            
        });
    </script>
}