
@{
    ViewBag.Title = "Confirm Approve";
}


<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">@ViewBag.Title</h2>
        <div class="righty">
            <ul>
                @*<li><a href="/">Home</a></li>
                <li>Applications</li>*@
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<h2>@ViewBag.msg</h2>

