
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style type="text/css">
    </style>
</head>
<body style="font-size:14px; box-sizing: border-box;background-color: #FFF; margin: 0; font-family: Helvetica, arial, sans-serif;">
    <div style="width: 960px; margin: 0px auto;box-sizing: border-box; padding: 20px;">
        <div style="border: 5px solid #888; padding: 50px 75px; font-family: 'Times New Roman';">
            <div style="text-align: center;">
                <img src="Content/Images/coat-of-arm.jpg" alt="Logo" style="height: 100px; display: block; margin: 0 auto" />
                <div>
                    <h2 style="margin: 0; margin-top:10px;">FEDERAL REPUBLIC OF NIGERIA</h2>
                    <h2 style="margin: 0;">PETROLEUM DECREE 1969</h2>
                    <h1 style="margin: 0; font-size: 34px; color: #ea0202;">Petroleum Storage And Sale License</h1>
                </div>
            </div>

            <div style="padding: 30px 20px 20px;font-size: 18px;">
                <div style="text-align: right;">
                    <p>
                        License No: &nbsp;<span style="border-bottom: dotted 2px #888;">NMDPRA/PDJ/SSL/00001{0}</span>&nbsp;
                    </p>
                    <p>
                        Company Identification Code: &nbsp;<span style="border-bottom: dotted 2px #888;">NMDPRA/COY/00001{1}</span>&nbsp;
                    </p>
                </div>

                <table style="width: 100%; border-spacing: 0;">
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="2">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                License is hereby granted to:
                            </div> <span id="coynameLine1">{2}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="coynameLine2">{3}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="2">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                of
                            </div> <span id="facLine1">{4}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="facLine2">{5}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="2">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                for the Storage of
                            </div> <span id="storeLine1">{6}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="storeLine2">{7}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="storeLine2">{8}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="storeLine2">{9}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="storeLine2">{10}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; font-size: 14px;" colspan="2">Name(s) of Products</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="2">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                at
                            </div> <span id="storeLine1">{11}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 8px 0 5px 0;" colspan="2">
                            &nbsp;<span id="storeLine2">{12}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; font-size: 14px;" colspan="2">Address of Premises</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>
                                This License is issued subject to the conditions prescribed in the Petroleum
                                Decree 1969 of which the License admits cognizance.
                            </p>
                            <p>
                                This License shall expire on the 31st day of December next following the date
                                of issue hereof and may be renewed on application being made for this purpose
                                not later than 30 days previous to the date of expiry.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                Dated
                            </div> <span id="storeLine1">{13}</span>
                        </td>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0;">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                &nbsp; &nbsp; Day of
                            </div> <span id="storeLine1">{14}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0; width: 50%;">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                FEE ₦:
                            </div> <span id="storeLine1">{15}</span>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px dotted #888;padding: 5px 0 0; width: 50%;">
                            <div style="display: inline-block; margin-bottom: -3px; background-color: #fff;padding: 5px 10px 5px 0;">
                                EXPIRY DATE:
                            </div> <span id="storeLine1">31<sup>st</sup> DECEMBER {16}</span>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>


                <table style="width: 100%;">
                    <tr>
                        <td style="vertical-align: bottom;">
                            <span style="font-size: 14px;">Category B</span>
                        </td>
                        <td>
                            <div style="text-align: right; max-width: 275px; float: right;">
                                <p style="width: 100%; border-bottom: 2px dotted #888;">

                                </p>
                                <p style="font-size: 14px; margin-bottom: 0;">&nbsp; &nbsp;Honorable Minister of Petroleum Resources&nbsp; &nbsp;</p>
                            </div>
                            <div style="clear: both;"></div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</body>
</html>
